[DEFAULT]
SocketConnectHost=fix.gdax.com
SocketConnectPort=4198
SocketInsecureSkipVerify=Y
HeartBtInt=30
SenderCompID=<GDAX_KEY>
TargetCompID=Coinbase
ResetOnLogon=Y
FileLogPath=logs/fix

# [SESSION]
# BeginString=FIX.4.0

# [SESSION]
# BeginString=FIX.4.1

[SESSION]
BeginString=FIX.4.2

# [SESSION]
# BeginString=FIX.4.3

# [SESSION]
# BeginString=FIX.4.4

# [SESSION]
# BeginString=FIXT.1.1
# DefaultApplVerID=7
